{% extends 'toonifyApp/base.html' %}

{% load static %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block javascripts %}
{{ block.super }}
<script src="{% static 'scripts/script.js' %}"></script>
{% endblock %}

{% block title %}ToonifyApp{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1 class="text-primary text-center mb-5">Transformez-vous en personnage Cartoon !</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col " style="max-width: 500px">
            <form id="toonifyForm" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-row">
                        <label for="imageInput" class="txtDepotFichier">Glisser/Déposer un fichier ou</label>
                        <label for="imageInput">Image*</label>
                        <input id="imageInput" class="inputDepotFichier form-control" type="file" name="image" accept="image/*" required>
                </div>
                <br>
                <div class="row justify-content-center ">
                    <button id="sendToonifyForm" class="btn btn-primary" type="button">C'est parti ! <span class="spinner-border spinner-border-sm"
                                                                               role="status" aria-hidden="true"
                                                                               hidden="hidden"></span></button>
                </div>
            </form>
        </div>
    </div>
    <br>
    <div class="row">
        <div id="toonifiedImgContainer" class="col">

        </div>
    </div>


</div>
{% endblock %}
